{% extends 'core/base.html' %}

{% block title %}
Service
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>

    <div class="row text-center text-white ">
        <div class="col-sm-4">
            <i class="fa-solid fa-chart-line fa-2x mb-2 i-color"></i>
            <h4>Data Analysis</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-chalkboard-user fa-2x mb-2 i-color"></i>
            <h4>Machine Learning</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-brain fa-2x mb-2 i-color"></i>
            <h4>Artificial Intelligence</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
    </div>


    <div class="row text-center text-white ">
        <div class="col-sm-4">
            <i class="fa-brands fa-python fa-2x mb-2 i-color"></i>
            <h4>Python Code</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-2 i-color"></i>
            <h4>SQL & MongoDB</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-2 i-color"></i>
            <h4>HTML & CSS</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
    </div>


    <div class="row text-center text-white ">
        <div class="col-sm-4">
            <i class="fa-solid fa-cube fa-2x mb-2 i-color"></i>
            <h4>Catia V5</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-dailymotion fa-2x mb-2 i-color"></i>
            <h4>Django</h4>
            <p class="ss-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, iste!</p>
        </div>
    </div>


</div>
{% endblock content %}